### Challenge questions

Easy questions:

 1. How many total pings are in the Ocearch data?
 2. How many unique species of sharks are in the data set?
 3. What is the name of the heaviest shark, how heavy is it?
 4. What is the name of the longest shark, how long is it?
 5. When and where was the very first ping?

### Answers

In [1]:
import pandas as pd
df = pd.read_csv('../data/sharks_cleaned.csv')
df.head()

,active,datetime,id,latitude,longitude,name,gender,species,weight,length,tagDate,dist_total
0,1,2014-07-06 04:57:28,3,-34.606610,21.152440,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
1,1,2014-06-23 02:40:09,3,-34.787520,19.424790,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
2,1,2014-06-15 13:15:44,3,-34.424870,21.097540,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
3,1,2014-06-03 02:23:57,3,-34.704323,20.210134,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662
4,1,2014-05-28 19:53:57,3,-34.655560,19.374590,Oprah,Female,White Shark (Carcharodon carcharias),686.0,118.0,7 March 2012,2816.662

#### Total ping count

In [2]:
len(df)

65793

#### Unique species

In [3]:
df.species.nunique()

9

In [4]:
df.groupby('species').id.nunique().sort_values()

species
Whale Shark (Rhincodon Typus)              3
Bull Shark (Carcharhinus leucas)           4
Silky Shark (Carcharhinus falciformis)     4
Blacktip Shark (Carcharhinus limbatus)     9
Hammerhead Shark (Sphyrna)                18
Mako Shark (Isurus oxyrinchus)            18
Blue Shark (Prionace glauca)              27
White Shark (Carcharodon carcharias)      74
Tiger Shark  (Galeocerdo cuvier)          82
Name: id, dtype: int64

#### Heaviest shark

In [5]:
df[df.weight == df.weight.max()].iloc[0]

active                                    1
datetime                2016-10-24 03:12:24
id                                      233
latitude                            38.5389
longitude                          -68.8206
name                         Rocky Mazzanti
gender                               Female
species       Whale Shark (Rhincodon Typus)
weight                                25000
length                                  300
tagDate                      24 August 2016
dist_total                          1753.52
Name: 56469, dtype: object

#### First ping

In [6]:
df.sort_values('datetime').iloc[0]

active                                           1
datetime                       2012-03-09 15:35:31
id                                               3
latitude                                   -34.132
longitude                                   22.123
name                                         Oprah
gender                                      Female
species       White Shark (Carcharodon carcharias)
weight                                         686
length                                         118
tagDate                               7 March 2012
dist_total                                 2816.66
Name: 519, dtype: object

#### Distance travelled

In [7]:
df.dist_total[df.dist_total > 0].describe()

count    65785.000000
mean     12569.310280
std      12755.008316
min          8.127000
25%       3048.274000
50%       8177.352000
75%      17811.853000
max      46553.182000
Name: dist_total, dtype: float64